*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    background-image: linear-gradient(to right, #202020, #111119);
    background-size: cover;
}

.errorDisplay{
    display: none;
}

.form-container{
    margin-top: 10%;
    margin-bottom: 5%;
}